.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em,1fr));
    gap:1.1em;
    /* background-color: #ddd; */
}
.projects__header{
    margin-bottom: 1em;
    padding: 1em;
}
/* .projects-title{
    margin-bottom: 0.5em;  
} */
.project__filter{
    display: flex;
    gap:1em;
}
.project__element{
    display: grid;
    /* flex-direction: row;      */
    /* grid-template-columns:  1fr 1fr; */
    grid-template-columns:repeat(auto-fit, minmax(20em,1fr));
   
    padding: 1em;
    gap: 1em;
}
.project__element-div{
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    gap: 1em;
    
}
.project__button-shape{
    padding:.6em;   
    border-radius: 0.5em;    
}

.project__button-colors{
    background-color: transparent;
    border:1px solid #4f4f4f;
    color: #4f4f4f;
    
}
.project-tag{
    background-color: transparent;
    border:none;
    cursor: pointer;
}
.project__button-code{
    background-color: transparent;
    border:1px solid #2F80ED;
    color: #2F80ED;
}
@media (max-width:750px) {
    .project__element{
        display: flex;
        flex-direction: column;     
        /* grid-template-columns: 35% 1fr; */
/*        
        padding: 1em;
        gap: 1em; */
    }
}
