.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1.1em;
    /* background-color: #ddd; */
}

.projects__header {
    margin-bottom: 1em;
    padding: 1em;
}

/* .projects-title{
    margin-bottom: 0.5em;  
} */
.project__filter {
    display: flex;
    gap: 1em;
}

.project__element {
    display: flex;
    flex-direction: column;
    min-height: max-content;



    gap: 1em;
}

.project__element-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    height: 100%;
    gap: 1em;
}

.project__button-shape {
    padding: .6em;
    border-radius: 0.5em;
    max-height: 3em;
    cursor: pointer;
}

.project__button-colors {
    background-color: transparent;
    border: 1px solid #4f4f4f;
    color: #4f4f4f;

}

.project-tag {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.project__button-code {
    background-color: transparent;
    border: 1px solid #2F80ED;
    color: #2F80ED;
}
.pageButtons{
    /* background-color: red; */
    display: flex;
    width: fit-content;
    justify-content: center;
    margin: 0 auto;
}
.nPage{
    display: flex;
    align-items: center;
    margin: 0 1em;
    border: 1px solid #000;
    border-radius: 0.5em;
    padding: 0.5em 0.8em;
}
.movePage{
   
    width: 50%;
    
}
.pageButton{
    
    padding: 0;
    padding-top: 5px;

}

