.hobbie{
    width: 100%;
    background-color: #fda;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 0.5em  ; */
}
@media (max-width:800px) {
   .hobbies{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    gap:1em;
   }
    
       
    }