:root{
  --title-color:#4F4F4F;
  --text-color:#828282;  
  --background: #f2f2f2;
  --section:#ffff;
}
body{
  background: var(--background);

}
#root{
 width:max(40em,80%);
 /* clamp(40em,80%,75em)  */
 margin: 0 auto;
 
}
*{
  margin: 0;
  padding:0;
  color: inherit;
  /* font-size: 1em; */
  /* background: var(--background); */
}

.title{
  color:var(--title-color) ;
}
.text{
  color: var(--text-color);
}
.subtitle{
  color: var(--subtitle-text);
}
.section{
  background-color:var(--section) ;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
